/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: "Raleway", "Arial";
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,p {
  margin: 2px;
}
/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

.tudo {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 4475px;
}

/*Sección Menu*/

section.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu__header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu__header > img {
  width: 24px;
  height: 24px;
}

.menu__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
}

.menu__list {
  display: none;
}

.menu__list__item__contato {
  display: flex;
}

/*Sección Title*/

.title {
  width: 360px;
  height: 294px;
}

.title__div {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 294px;
  gap: 16px;
  padding: 16px;
}

.title__profile {
  width: 98px;
  height: 98px;
}

.title__container {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 148px;
  gap: 16px;
}

.title__bio {
  width: 328px;
  height: 52px;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
}

.title__subsection {
  width: 328px;
  height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.44px;
}

.title__network {
  display: flex;
  width: 318px;
  height: 16px;
  gap: 8px;
}

.title__network__item {
  display: flex;
  height: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.44px;
}

.about {
  display: flex;
  width: 360px;
  height: 350px;
  padding: 16px;
  gap: 10px;
  background-color: #eaf2fd;
}

.about__container {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 318px;
}

.about__title {
  width: 94px;
  height: 26px;
  font-size: 22px;
  font-weight: 700px;
  line-height: 25.83px;
  color: #464646;
}

.about__paragraph {
  width: 328px;
  height: 208px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.44px;
  color: #464646;
}

.about__container > img {
  width: 140px;
  height: 52px;
}

.skills {
  width: 360px;
  height: 508px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.skills__title {
  width: auto;
  height: 26px;
  font-weight: 700;
  size: 22px;
  line-height: 25.83px;
  color: #464646;
  text-align: center;
}

.skills__line {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-evenly;
  gap: 16px;
}

.skills__box {
  display: flex;
  align-items: flex-end;
  width: 156px;
  height: 118px;
  gap: 8px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.skills__img {
  width: 24px;
  height: 37px;
}

.skills__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.78px;
  color: #464646;
}

/*Sección Hobbies*/

section.hobbies {
  width: 360px;
  height: 508px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}
.hobbies__title {
  width: auto;
  height: 26px;
  font-weight: 700;
  size: 22px;
  line-height: 25.83px;
  color: #464646;
  text-align: center;
}

.hobbies__line {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: space-evenly;
  gap: 16px;
}

.hobbies__box {
  display: flex;
  align-items: flex-end;
  width: 156px;
  height: 118px;
  gap: 8px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.hobbies__img {
  width: 24px;
  height: 37px;
}

.hobbies__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.78px;
  color: #464646;
}

/* Experiencia Académica*/

.academic {
  width: 360px;
  height: 661px;
  background-color: #eaf2fd;
  padding: 32px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.academic__title {
  width: 100%;
  height: 26px;
  font-weight: 700;
  size: 22px;
  line-height: 25.83px;
  color: #464646;
  text-align: center;
}

.academic__courses {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 539px;
  gap: 16px;
}

.academic__courses__box {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 169px;
  gap: 8px;
}

.academic__courses__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.academic__courses__item__img {
  width: 296px;
  height: 118px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.academic__courses__item__img > img {
  width: 84px;
  height: 58px;
}

.academic__courses__item__title {
  width: auto;
  height: 19px;
  font-size: 16px;
  font-weight: 700px;
  line-height: 18px;
  color: #464646;
  margin-top: 10px;
}

.academic__courses__item__subtitle {
  width: auto;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.44px;
  color: #464646;
  margin-top: 2px;
}

/* experiencia*/

section.experience {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 1321px;
  padding: 32px;
  gap: 16px;
}

.experience__section__title {
  width: auto;
  height: 26px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #464646;
  padding: 0px;
  margin: 0 auto;
}

.experience_list {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 1215px;
  gap: 64px;
}

.experiencie__box {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 251px;
  gap: 16px;
}

.experience__img {
  width: 296px;
  height: 144px;
}

.experience__info {
  width: 296px;
  height: 91px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.experience__info-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.experience__title {
  width: 296px;
  height: auto;
  font-weight: 700px;
  font-size: 16px;
  line-height: 18px;
  color: #464646;
}

.experience__text {
  width: 296px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.experience__description {
  display: flex;
  gap: 16px;
}

.experiencia__botao--repo {
  width: auto;
  height: 40px;
  border: 1px solid #2a7ae4;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  color: white;
  background-color: #2a7ae4;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.44px;
}

.experience__botao--demo {
  width: auto;
  height: 40px;
  border: 1px solid #2a7ae4;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  color: white;
  background-color: #2a7ae4;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.44px;
}

.experience__botao--demo:hover {
  border: 1px solid #2a7ae4;
  background-color: var(--cor-de-fundo);
  color: #2a7ae4;
}

.experiencia__botao--repo:hover {
  border: 1px solid #2a7ae4;
  background-color: var(--cor-de-fundo);
  color: #2a7ae4;
}
/*Contacto*/

section.formcontato {
  display: flex;
  flex-flow: column wrap;
  width: 360px;
  height: 777px;
}

.formcontato--esquerda{
  display: none;
}

.formcontato__contacto{
  width: 360px;
  height: 675px;
  padding: 32px;
  gap: 10px;
  background-color: #EAF2FD;
}

.formcontato__text{
  width: 296px;
  height: 611px;
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.formcontato__title{
  width: auto;
  height: 26px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #464646;
}

.formcontato__subtext{
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.78px;
  color: #464646;
}

.formcontato__form{
  display: flex;
  flex-flow: column wrap;
  gap: 32px;
}

input,textarea{
  display: flex;
  flex-flow: column wrap;
  width: 296px;
  height: 56px;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  margin-top: 8px;
  padding: 0px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #464646;
  outline: none;
}

input::placeholder{
  width: auto;
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A2A2A2;
}

textarea::placeholder{
  width: auto;
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A2A2A2;
}

textarea:hover{
  border: none;
  border-bottom: 2px solid #2A7AE4;
}

textarea:hover{
  border: none;
  border-bottom: 2px solid #2A7AE4;
}

.formcontato__botao{
  width: 133px;
  height: 40px;
  padding: 12px 16px;
  gap: 10px;
  background-color: #2A7AE4;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}



/*footeer*/

section.footer {
  display: flex;
  flex-flow: column wrap;
  width: 360px;
  height: 102px;
  padding: 32px;
  gap: 10px;
  border: solid;
  align-items: center;
}

.footer__rodape{
  width: 229px;
  height: 38px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  border: 1px solid;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
